.clock {
  font-size: 10vh;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25vw;
  height: 15vh;
  border: 2px rgb(0, 0, 0);
  border-style: solid;
  border-radius: 5px;
  background: rgb(169, 169, 169, 0.25);
}


.centered{
  text-align: center;
  font-size: 2vh;
}