.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  color: white;
  height: 100vh; 
  padding: 10px;
}


.content {
  display: flex;
  width: 100%;
  flex: 1;
}

.center {
  align-items: center;
  color: black;
  text-align: center;
}

.lefty {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.righty {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-inside {
  text-align: left;
  margin: auto;
}

.bold {
  font-weight: bold;
}
